.friend_wrapper img {
   display: inline-block;
   border-radius: 50%;
   width: 50px;
   transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.active img {
   border: 3px solid #3f4552;
}
.friend_wrapper:hover img {
   border: 3px solid #3f4552;
   transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.friend_wrapper a {
   display: block;
}
