.message {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   padding-bottom: 10px;
   padding-right: 10%;
   word-break: break-all;
}

.message span {
   border: 1px solid #3f4552;
   background-color: #edf2f6;
   border-radius: 5px;
   padding: 5px;
}
