.navigation {
   font-size: 18px;
   padding: 10px 30px 20px 30px;
   margin-bottom: 20px;
   background-color: #fff;
   border-radius: 15px;
   color: #999ba3;
   display: flex;
   justify-content: space-between;
}



.navigation a:hover path,
.navigation a:hover span {
   fill: black;
   color: black;
   transition: 0.3s ease;
}


.active path,
.active span {
   fill: black;
   color: black;
}

.navigation a {
   padding: 10px 0;
   letter-spacing: 1px;
   display: flex;
   align-items: center;
   gap: 10px;
   border-bottom: 1px solid #3f4257;
   text-transform: uppercase;
   transition: 0.3s ease;
   color: inherit;
}

.navigation a span {
   flex: 1 1 auto;
}
.navigation a svg {
   flex: 0 0 auto;
}
