.message {
   display: flex;
   justify-content: flex-end;
   padding-bottom: 10px;
   padding-left: 10%;
   text-align: right;
   word-break: break-all;
}

.message span {
   border: 1px solid #3f4552;
   background-color: #edf2f6;
   border-radius: 5px;
   padding: 5px;
}
