.dialogs_wrapper {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
}

.friends_wrapper {
   flex: 1 1 auto;
   flex-wrap: wrap;
   display: flex;
   gap: 30px;
   padding: 20px;
   font-size: 20px;
   border: 1px solid black;
   border-radius: 20px;
   justify-content: space-between;
}



.messages_wrapper {
   border: 1px solid black;
   border-radius: 20px;
   padding: 20px;
   flex: 1 1 auto;
}
