.dialogs_wrapper {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   max-width: 100%;
}

.friends_wrapper {
   flex-wrap: wrap;
   display: flex;
   gap: 30px;
   padding: 20px;
   font-size: 20px;
   border: 1px solid black;
   border-radius: 20px;
   justify-content: space-between;
   max-width: 100%;
}




.messages_wrapper {
   border: 1px solid black;
   border-radius: 20px;
   padding: 20px;
}
