
.usersWrapper {
   margin-top: 10px;
   padding: 20px;
   border-radius: 10px;
   display: flex;
   flex: 0 0 50%;
   max-width: 50%;
   width: 100%;
   box-shadow: 15px 15px 20px #62636536;
}
.pages {
   display: block;
   width: 100%;
   margin-top: 20px;

   & li{
      display: inline-block;
      cursor: pointer;
      padding-right: 10px;
      font-size: 18px;
      color: #626365e7;
   }
}
.selectedPage {
   font-weight: 600;
   font-size: 30px;
}

.wrapper {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   margin: 0 35px;
   align-items: center;
   justify-content: flex-start;
}
.getUsers {
   display: block;
   max-width: 200px;
   padding: 10px;
   margin: 10px auto;

}
.avatar {
   display: flex;
   flex: 0 0 100px;
   flex-direction: column;
   width: 100px;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
}
.userAvatar {
   margin-bottom: 10px;
   max-width: 70px;
   border-radius: 50%;
}
.btn {
   padding: 5px;
   border: black solid 1px;
   border-radius: 5px;
}
.allInfo {
   display: flex;
   flex: 1 1 auto;
   
   word-break: break-all;
}
.userInfo {
   display: flex;
   flex:1 1 auto;   
   flex-direction: column;
   overflow: hidden;
}
.fullName {
   font-size: 20px;
   margin-bottom: 10px;
   align-items: flex-start;
}

.status {
font-size: 14px;
}


.location {
   display: flex;
   flex: 0 0 80px;
   flex-direction: column;
}

.country {
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 10px; 
}

.city {
   font-size: 12px;
}