.header {
   background-color: #3f4552;
   padding: 10px;
}


.header_raw {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   
}

.logo {

}

.icons {
color: aliceblue;
font-size: 28px;
}

.search {

}