.header {
   background-color: #8B8B8C;
   grid-area: header;
   grid-column: 2/4;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   color: #fff;
   font-size: 18px;
}
